<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="quran_files_plugin" version="1.0.0">

        
<asset src="audio_files/001.mp3" target="audio_files/001.mp3" />
<asset src="audio_files/002.mp3" target="audio_files/002.mp3" />
<asset src="audio_files/003.mp3" target="audio_files/003.mp3" />
<asset src="audio_files/004.mp3" target="audio_files/004.mp3" />
<asset src="audio_files/005.mp3" target="audio_files/005.mp3" />
<asset src="audio_files/006.mp3" target="audio_files/006.mp3" />
<asset src="audio_files/007.mp3" target="audio_files/007.mp3" />
<asset src="audio_files/008.mp3" target="audio_files/008.mp3" />
<asset src="audio_files/009.mp3" target="audio_files/009.mp3" />
<asset src="audio_files/010.mp3" target="audio_files/010.mp3" />
<asset src="audio_files/011.mp3" target="audio_files/011.mp3" />
<asset src="audio_files/012.mp3" target="audio_files/012.mp3" />
<asset src="audio_files/013.mp3" target="audio_files/013.mp3" />
<asset src="audio_files/014.mp3" target="audio_files/014.mp3" />
<asset src="audio_files/015.mp3" target="audio_files/015.mp3" />
<asset src="audio_files/016.mp3" target="audio_files/016.mp3" />
<asset src="audio_files/017.mp3" target="audio_files/017.mp3" />
<asset src="audio_files/018.mp3" target="audio_files/018.mp3" />
<asset src="audio_files/019.mp3" target="audio_files/019.mp3" />
<asset src="audio_files/020.mp3" target="audio_files/020.mp3" />
<asset src="audio_files/021.mp3" target="audio_files/021.mp3" />
<asset src="audio_files/022.mp3" target="audio_files/022.mp3" />
<asset src="audio_files/023.mp3" target="audio_files/023.mp3" />
<asset src="audio_files/024.mp3" target="audio_files/024.mp3" />
<asset src="audio_files/025.mp3" target="audio_files/025.mp3" />
<asset src="audio_files/026.mp3" target="audio_files/026.mp3" />
<asset src="audio_files/027.mp3" target="audio_files/027.mp3" />
<asset src="audio_files/028.mp3" target="audio_files/028.mp3" />
<asset src="audio_files/029.mp3" target="audio_files/029.mp3" />
<asset src="audio_files/030.mp3" target="audio_files/030.mp3" />
<asset src="audio_files/031.mp3" target="audio_files/031.mp3" />
<asset src="audio_files/032.mp3" target="audio_files/032.mp3" />
<asset src="audio_files/033.mp3" target="audio_files/033.mp3" />
<asset src="audio_files/034.mp3" target="audio_files/034.mp3" />
<asset src="audio_files/035.mp3" target="audio_files/035.mp3" />
<asset src="audio_files/036.mp3" target="audio_files/036.mp3" />
<asset src="audio_files/037.mp3" target="audio_files/037.mp3" />
<asset src="audio_files/038.mp3" target="audio_files/038.mp3" />
<asset src="audio_files/039.mp3" target="audio_files/039.mp3" />
<asset src="audio_files/040.mp3" target="audio_files/040.mp3" />
<asset src="audio_files/041.mp3" target="audio_files/041.mp3" />
<asset src="audio_files/042.mp3" target="audio_files/042.mp3" />
<asset src="audio_files/043.mp3" target="audio_files/043.mp3" />
<asset src="audio_files/044.mp3" target="audio_files/044.mp3" />
<asset src="audio_files/045.mp3" target="audio_files/045.mp3" />
<asset src="audio_files/046.mp3" target="audio_files/046.mp3" />
<asset src="audio_files/047.mp3" target="audio_files/047.mp3" />
<asset src="audio_files/048.mp3" target="audio_files/048.mp3" />
<asset src="audio_files/049.mp3" target="audio_files/049.mp3" />
<asset src="audio_files/050.mp3" target="audio_files/050.mp3" />
<asset src="audio_files/051.mp3" target="audio_files/051.mp3" />
<asset src="audio_files/052.mp3" target="audio_files/052.mp3" />
<asset src="audio_files/053.mp3" target="audio_files/053.mp3" />
<asset src="audio_files/054.mp3" target="audio_files/054.mp3" />
<asset src="audio_files/055.mp3" target="audio_files/055.mp3" />
<asset src="audio_files/056.mp3" target="audio_files/056.mp3" />
<asset src="audio_files/057.mp3" target="audio_files/057.mp3" />
<asset src="audio_files/058.mp3" target="audio_files/058.mp3" />
<asset src="audio_files/059.mp3" target="audio_files/059.mp3" />
<asset src="audio_files/060.mp3" target="audio_files/060.mp3" />
<asset src="audio_files/061.mp3" target="audio_files/061.mp3" />
<asset src="audio_files/062.mp3" target="audio_files/062.mp3" />
<asset src="audio_files/063.mp3" target="audio_files/063.mp3" />
<asset src="audio_files/064.mp3" target="audio_files/064.mp3" />
<asset src="audio_files/065.mp3" target="audio_files/065.mp3" />
<asset src="audio_files/066.mp3" target="audio_files/066.mp3" />
<asset src="audio_files/067.mp3" target="audio_files/067.mp3" />
<asset src="audio_files/068.mp3" target="audio_files/068.mp3" />
<asset src="audio_files/069.mp3" target="audio_files/069.mp3" />
<asset src="audio_files/070.mp3" target="audio_files/070.mp3" />
<asset src="audio_files/071.mp3" target="audio_files/071.mp3" />
<asset src="audio_files/072.mp3" target="audio_files/072.mp3" />
<asset src="audio_files/073.mp3" target="audio_files/073.mp3" />
<asset src="audio_files/074.mp3" target="audio_files/074.mp3" />
<asset src="audio_files/075.mp3" target="audio_files/075.mp3" />
<asset src="audio_files/076.mp3" target="audio_files/076.mp3" />
<asset src="audio_files/077.mp3" target="audio_files/077.mp3" />
<asset src="audio_files/078.mp3" target="audio_files/078.mp3" />
<asset src="audio_files/079.mp3" target="audio_files/079.mp3" />
<asset src="audio_files/080.mp3" target="audio_files/080.mp3" />
<asset src="audio_files/081.mp3" target="audio_files/081.mp3" />
<asset src="audio_files/082.mp3" target="audio_files/082.mp3" />
<asset src="audio_files/083.mp3" target="audio_files/083.mp3" />
<asset src="audio_files/084.mp3" target="audio_files/084.mp3" />
<asset src="audio_files/085.mp3" target="audio_files/085.mp3" />
<asset src="audio_files/086.mp3" target="audio_files/086.mp3" />
<asset src="audio_files/087.mp3" target="audio_files/087.mp3" />
<asset src="audio_files/088.mp3" target="audio_files/088.mp3" />
<asset src="audio_files/089.mp3" target="audio_files/089.mp3" />
<asset src="audio_files/090.mp3" target="audio_files/090.mp3" />
<asset src="audio_files/091.mp3" target="audio_files/091.mp3" />
<asset src="audio_files/092.mp3" target="audio_files/092.mp3" />
<asset src="audio_files/093.mp3" target="audio_files/093.mp3" />
<asset src="audio_files/094.mp3" target="audio_files/094.mp3" />
<asset src="audio_files/095.mp3" target="audio_files/095.mp3" />
<asset src="audio_files/096.mp3" target="audio_files/096.mp3" />
<asset src="audio_files/097.mp3" target="audio_files/097.mp3" />
<asset src="audio_files/098.mp3" target="audio_files/098.mp3" />
<asset src="audio_files/099.mp3" target="audio_files/099.mp3" />
<asset src="audio_files/100.mp3" target="audio_files/100.mp3" />
<asset src="audio_files/101.mp3" target="audio_files/101.mp3" />
<asset src="audio_files/102.mp3" target="audio_files/102.mp3" />
<asset src="audio_files/103.mp3" target="audio_files/103.mp3" />
<asset src="audio_files/104.mp3" target="audio_files/104.mp3" />
<asset src="audio_files/105.mp3" target="audio_files/105.mp3" />
<asset src="audio_files/106.mp3" target="audio_files/106.mp3" />
<asset src="audio_files/107.mp3" target="audio_files/107.mp3" />
<asset src="audio_files/108.mp3" target="audio_files/108.mp3" />
<asset src="audio_files/109.mp3" target="audio_files/109.mp3" />
<asset src="audio_files/110.mp3" target="audio_files/110.mp3" />
<asset src="audio_files/111.mp3" target="audio_files/111.mp3" />
<asset src="audio_files/112.mp3" target="audio_files/112.mp3" />
<asset src="audio_files/113.mp3" target="audio_files/113.mp3" />
<asset src="audio_files/114.mp3" target="audio_files/114.mp3" />


</plugin>
